*{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
section{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
h1{
    font-size: 3em;
    margin: 0.5em;
}
h2{
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
}
h3{
    font-size: 1.8em;
    margin: 2em 0 0.5em 0.5em;
}
p{
    font-size: 1.2em;
    margin: 0.5em;
}
#chartMap_1 svg, #chart_2 svg, #chart_3 svg {
    max-width: initial;
    margin-top: 3em;
    margin-bottom: 3em;
}

  /* Body Styles */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 50px;
    padding: auto;
  }

  header {
    background-color: #fdd306; /* change the background color */
    color: #212529; /* change the font color */
    margin:0px;
  }
  
  /* Section Styles */
  section {
    margin: 100px;
  }
  
  /* Chart Styles */
  .chartMap1{
    height: 300px;
    width: 100%;
    margin: auto;
    margin-bottom: 500px;
    display: flex;
    justify-content: space-between;

  }
  #chart_1 {
    display: flex;
    justify-content: space-between;
  }
  #mapa1, #mapa2 {
    width: 45%;
  }

  #mapa2 {
    margin-top:45px;
  }

  .chart{
    height: 300px;
    width: 100%;
    margin: auto;
    margin-bottom: 250px;
  }
  
  
  footer {
    background-color: #212529; /* change the background color */
    color: #fdd306; /* change the font color */
  }
  
  footer p {
    margin: 5px;
  }
  
